/* ============================== Global =================================*/
.needs-stand-bg{
    padding:140px;
}
.needs-stand-bg.error-padding{
    padding:150px;
}
.show-tablet{
    display:none;
}
.hide-tablets{
    display:block;
}
.f-family{
    font-family: Helvetica Neue;
}
.fw-700{
    font-weight: 700;
}
.f-20{
    font-size: 20px;
}
.w-45{
    width: 45%;
}
.mh-90{
    max-height: 90%;
}
.start-25{
    left: 25px;
}
.start-20{
    left: 20%;
}

/* Form Style */
.form-control.money {
    color: #C21B17;
    font-weight: 500;
}

/* Education Global */
.bg-education-home{
    background-image: url(/images/needs/background/bg-main.png);
    background-size: contain,90%;
    background-position: center, center 20%;
    background-repeat: no-repeat;
}
.bottom-33{
    bottom: -33px;
}

/* =============================== Needs Home Page ===============================*/
.needs-home-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    grid-template-areas: 
    "needs-home-contents";
    grid-template-rows: 87vh;
}
.needs-home-contents{
    grid-area: needs-home-contents;
    grid-template-columns: 100%;
    /* test */
    display: grid;
    /* grid-template-areas: 
    "needs-home-avatars"
    "needs-home-text";
    grid-template-rows: 75% 25%; */
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */

}
.needs-home-avatar-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    grid-template-areas: 
    "needs-home-avatars"
    "needs-home-text";
    grid-template-rows: 80% 20%;
}
.needs-home-avatars{
    grid-area: needs-home-avatars;
    display: grid;
    grid-template-columns: repeat(3, 15% 70% auto);
    /* grid-template-columns: repeat(3, minmax(250px, 1fr)); */
}
.needs-home-text{
    grid-area: needs-home-text;
    grid-template-columns: 100%;
}
#education-home .needs-stand-bg{
    padding: 180px;
}
.bg-needs-home{
    background-image: url(/images/needs/background/bg-home-needs.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.bg-needs-home-element{
    background-image: url(/images/needs/education/home/bg-education-home-element.png);
    background-repeat: no-repeat;
    background-position: center top 15%;
    background-size: 80%;
}
/* =============================== Education Coverage Page ===============================*/
.wrapper-needs-coverage-default {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header-needs-default"
        "content-needs-default";
        /* "warning"
        "footer-needs-default"; */
    /* grid-template-rows: 15% minmax(66%,73%) auto 12%; */
    /* grid-template-rows: 15% minmax(63.2%,71%) auto 14%; */
    grid-template-rows: 15% 85%;
    /* grid-template-rows: 15% auto auto 14.5%; */
}
.header-needs-default {
    grid-area: header-needs-default;
}
.content-needs-default {
    grid-area: content-needs-default;
    grid-template-columns: 100%;
    display: grid;
    grid-template-areas:
        "content-block"
        "warning"
        "footer-needs-default";
    /* grid-template-rows: 100%; */
    grid-template-rows:  auto 5.5vh 13vh;
}
.content-block{
    grid-area: content-block;
    grid-template-columns: 100%;
    display: grid;
    grid-template-areas:
    "header-content-coverage"
    "selection-content-coverage";
    grid-template-rows: 10% 90%;
}
.warning{
    grid-area: warning;
}
.footer-needs-default {
    grid-area: footer-needs-default;
    
}
.header-content-coverage{
    grid-area: header-content-coverage;
    grid-template-columns: 100%;
    display: grid;
}
.selection-content-coverage{
    grid-area: selection-content-coverage;
    grid-template-columns: 100%;
    display: grid;
}
.bg-education-coverage{
    background-image: url(/images/needs/education/education-coverage-vector.png);
    background-size: auto;
    background-position: center top 25%;
    background-repeat: no-repeat;
}
#education-coverage .progress{
    width: 44px;
    height: 44px;
    line-height: 150px;
    background: transparent;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    z-index: 1000;
}
.education_coverage .slick-slide button,
.savings_coverage .slick-slide button{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "coverage-image"
        "coverage-text";
    grid-gap: 0px;
    align-items: end;
}
.coverage-image {
    grid-area: coverage-image;
    grid-template-columns: 100%;
    
}
.coverage-text {
    grid-area: coverage-text;
    grid-template-columns: 100%;
    
}
/* =============================== Education Supporting Page ===============================*/
.wrapper-needs-supporting-default {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header-needs-default"
        "content-supporting-default";
    grid-template-rows: 18vh 69vh;
}
.content-supporting-default{
    grid-area: content-supporting-default;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-areas:
    "edu-con"
    "alert-support";
    grid-template-rows: 92.5% auto;
}
.edu-con{
    grid-area: edu-con;
}
.alert-support{
    grid-area: alert-support;
    /* height: 50px; */
}
.edu_sup_years{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 0;
}
.education-support{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "avatar-img"
        "avatar-text";
    grid-gap: 0px;
}
.avatar-img {
    grid-area: avatar-img;
    grid-template-columns: 100%;
}
.avatar-text {
    grid-area: avatar-text;
    grid-template-columns: 100%;
}
/* =============================== Education Other Savings Page ===============================*/
.bg-education-others-section{
    background-image: url('/images/needs/education/bg-others-ele.png');
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: left 66% top;
}
/* =============================== Education Gap Page =======================================*/
.wrapper-needs-gap-default {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header-needs-default"
        "content-gap-default";
    grid-template-rows: 13% 87%;
}
.content-gap-default{
    grid-area: content-gap-default;
    grid-template-columns: 100%;
    display: grid;
    grid-template-rows: 84.5%;
}
.bg-education-gap{
    background-image: url('/images/needs/background/bg-master-needs-gap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;
}
.graph-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-areas:
        "gap-graph"
        "gap-title";
    grid-template-rows: 90% 10%;
}
.gap-graph{
    grid-area: gap-graph;
    grid-template-columns: 100%;
}
.gap-title{
    grid-area: gap-title;
    grid-template-columns: 100%;
}
.summary-value{
    color:#C21B17;
    text-align: right;
}
#education-summary h6{
    font-size: 26px;
}
.text-correct{
    color: #14A38B;
}
#education-summary #gap .circle{
    filter: drop-shadow(0px 0px 6px #FFEEE2) drop-shadow(0px 20px 20px rgba(150, 217, 227, 0.3));
}
#education-summary #gap .circle__medium{
    filter: none;
}
#education-summary #gap .circle__small{
    filter: none;
}

/* =============================== Savings Monthly Payment =======================================*/
.savings-monthly{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 55% 20%;
    grid-template-rows: 100%;
}

/* Media Query - Mobile (screen size max 767px) */
@media only screen and (max-width: 360px){
    .col-xs-10{
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}

@media only screen and (max-width: 767px){
    .wrapper-needs-supporting-default {
        grid-template-rows: auto;
    }
    .bg-education-supporting{
        background-size: 100%;
    }
    .savings-monthly{
        grid-template-columns: 60% 27%;
        grid-template-rows: 90%;
    }
}
@media only screen and (max-width: 767px) and (min-height: 740px) and (max-height: 800px){
    .start-20{
        top: 62% !important;
    }
}
@media only screen and (max-width: 767px) and (min-height: 801px) {
    .start-20{
        top: 65% !important;
    }
}
@media only screen and (max-width: 600px) and (max-height: 699px){
    .content-needs-default {
       grid-template-rows: auto 7vh 16vh !important;
    }
}
@media only screen and (max-width: 600px) and (min-height: 700px) and (max-height: 760px){

    .content-needs-default {
        grid-template-rows: auto 6.5vh 14.5vh !important;
    }
}
@media only screen and (max-width: 600px) and (min-height: 761px) and (max-height: 798px){

    .content-needs-default {
        grid-template-rows: auto 5.5vh 14vh !important;
    }
}
@media only screen and (max-width: 600px) and (min-height: 799px) and (max-height: 860px){
    .content-needs-default {
        grid-template-rows: auto 5.5vh 13vh !important;
    }
    .education_coverage .slick-slide button{
        grid-template-rows: 92% 8%;
    }
}
@media only screen and (max-width: 600px) and (min-height:861px) and (max-height: 900px){
    .content-needs-default {
        /* grid-template-rows: minmax(66.2vh, 73vh) auto 12.2vh; */
    }
    .education_coverage .slick-slide button{
        grid-template-rows: 92% 8%;
    }
}
@media only screen and (max-width: 600px) and (min-height:901px) and (max-height: 1024px){
    .wrapper-needs-coverage-default {
        /* grid-template-rows: 15% minmax(67%,74%) auto 11%; */
    }
}
@media only screen and (min-width: 600px) and (max-width: 797px) and (min-height: 800px){
    .content-needs-default  {
        grid-template-rows: auto 5vh 11vh;
    }
}
@media only screen and (min-width: 600px) and (max-width: 797px) and (min-height: 1000px){
    .content-needs-default  {
        grid-template-rows: auto 4.5vh 10.5vh;
    }
}
@media only screen and (max-width: 600px){
    .scroll-content {
       overflow-x: hidden;
       overflow-y: auto;
       height: 100vh;
    }
    /* .alert-support{
        height: 57px;
    } */
    .content-needs-default{
        grid-template-rows: auto 5vh 12vh;
    }
}
@media only screen and (max-width: 700px){
    .pb-7{
        padding-bottom: 80px;
    }
}


/* Media Query - Medium device (screen size max 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .bg-education-coverage{
        background-size: contain;
    }
    .mt-md-6{
        margin-top: 4rem;
    }
}
@media only screen and (max-width: 992px){
    .start-20{
        max-width: 100%;
        transform: translate(-50%, -50%);
        top: 58%;
        left: 50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (min-height: 800px) and (max-height: 1050px){
    .content-needs-default {
        grid-template-rows: auto 4vh 11vh !important;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 16vh 73.5vh !important;
    }
    .content-supporting-default{
        grid-template-rows: 94% auto !important;
    }
    .education-support{
        grid-template-rows: 80% 10% !important;
    }
    .start-20{
        top: 65% !important;
    }
    /* .savings-monthly{
        grid-template-rows: 70% !important;
    } */
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (min-height: 1059px) and (max-height: 1199px){
    .content-needs-default {
        grid-template-rows: auto 4.5vh 9.8vh !important;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 15vh 75.5vh!important;
    }
    .start-20{
        top: 68% !important;
    }
    /* .savings-monthly{
        grid-template-rows: 80% !important;
    } */
    
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (min-height: 1200px){
    .content-needs-default {
        grid-template-rows: auto 4vh 8.5vh !important;
    }
    .start-20{
        top: 73% !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 900px){
    #savings-home .needs-stand-bg {
        padding: 250px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .needs-stand-bg.error-padding {
        padding: 190px;
    }
    .needs-stand-bg{
        padding: 180px;
    }
    .content-needs-default {
        grid-template-rows: auto 4vh 8vh;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 11vh 81vh;
    }
    .content-supporting-default{
        grid-template-rows: 96% auto;
    }
    .needs-home-wrapper{
        grid-template-rows: 90vh;
    }
    #education-home .needs-stand-bg {
        padding: 250px;
    }
    #savings-home .needs-stand-bg{
        padding: 200px;
    }
    .savings-monthly{
        grid-template-rows: 90% !important;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) and (max-height: 700px){
    .content-needs-default {
        /* grid-template-rows: minmax(60vh, 72vh) auto 15.5vh !important; */
    }
    
}
@media only screen and (min-width: 900px) and (max-width: 1100px) and (max-height: 600px){
    .content-needs-default {
        grid-template-rows: auto 8vh 18vh !important;
    }
    #education-monthly-content .col-12.col-xl-6{    
        flex: 0 0 auto;
        width: 50%;
    }
    #education-monthly-content .first-order{
        order: 2;
    }
    #education-monthly-content .second-order{
        order: 1;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 23vh 54vh;
    }
    .education-support {
        grid-template-rows: 80% 10%;
    }
    .needs-home-wrapper{
        grid-template-rows: 80vh;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .show-tablet{
        display:block;
    }
    .hide-tablets{
        display:none;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1100px) and (max-height:800px){
    .content-needs-default {
        /* grid-template-rows: auto 5.5vh 13.5vh; */
        grid-template-rows: auto 6vh 14vh;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 18vh 68.5vh;
    }
    #education-monthly-content .col-12.col-xl-6{    
        flex: 0 0 auto;
        width: 50%;
    }
    #education-monthly-content .first-order{
        order: 2;
    }
    #education-monthly-content .second-order{
        order: 1;
    }
    .content-supporting-default {
        grid-template-rows: 92% auto;
    }
    .needs-stand-bg{
        padding: 130px;
    }
    
    .needs-stand-bg.error-padding{
        padding: 140px;
    }
    .needs-home-wrapper{
        grid-template-rows: 86vh;
    }
    #savings-home .needs-home-avatar-wrapper {
        grid-template-rows: 75% 15%;
    }
    .savings-monthly{
        grid-template-columns: 20% 20%;
        grid-template-rows: 65%;
    }
}
@media only screen and (max-width: 1024px){
    .p-mb-0{
        padding: 0px;
    }
    .needs-home-avatars{
        grid-template-columns: repeat(3, 0% 100% 0%);
    }
    .start-25{
        left: 0px;
    }
}
@media only screen and (min-width: 1024px){
    .hide-h-100{
        height: 100%;
    }
}


/* Media Query - Large device (screen size max 1500px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) and (min-height: 900px){
    .content-needs-default {
        grid-template-rows: auto 5.5vh 11.4vh;
    }
    .wrapper-needs-supporting-default{
        grid-template-rows: 16vh 73.5vh;
    }
    .content-supporting-default {
        grid-template-rows:93% auto;
    }
    .needs-home-wrapper{
        grid-template-rows: 88vh;
    }
    .needs-home-avatar-wrapper {
        grid-template-rows: 85% 15%;
    }
    #savings-home .needs-home-avatars {
        grid-template-columns: repeat(3, 5% 90% auto);
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) and (max-height: 840px){
    .content-needs-default {
        grid-template-rows: auto 5.5vh 13.5vh;
    }
    #education-monthly-content .col-12.col-xl-6{    
        flex: 0 0 auto;
        width: 50%;
    }
    #education-monthly-content .first-order{
        order: 2;
    }
    #education-monthly-content .second-order{
        order: 1;
    }
    .content-supporting-default{
        grid-template-rows: 92.5% auto;
    }
    .needs-home-avatars {
        grid-template-columns: repeat(3, 10% 75% auto);
    }
    #savings-home .needs-home-avatars {
        grid-template-columns: repeat(3, 8% 80% auto);
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) and (max-height: 700px){
    .content-needs-default {
        grid-template-rows: auto 6.5vh 15.5vh;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 20.5vh 64vh;
    }
    .content-supporting-default{
        grid-template-rows: 91% auto;
    }
}
@media only screen and (min-width: 1400px) and (min-height: 900px){
    .content-needs-default {
        grid-template-rows: auto 5.5vh 12vh;
    }
    .content-supporting-default {
        grid-template-rows:93% auto;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 19vh 69vh;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1399px) and (min-height: 1000px){
    .content-needs-default {
        grid-template-rows: auto 4.5vh 10.5vh !important;
    }
    .wrapper-needs-supporting-default{
        grid-template-rows: 19vh 70.5vh !important;
    }
    .content-supporting-default{
        grid-template-rows: 93.5% auto !important;
    }
}
@media screen and (max-width: 1200px) {
    .bg-half{
        background-image: url('/images/needs/background/bg-half-master-mob.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
    }
    .bg-education-others-mob{
        background-image: url('/images/needs/education/background/bg-education-others-mob.png');
        background-repeat: no-repeat;
        background-size: containxs;
        background-position:left center;
    }
}
@media screen and (min-width: 1250px) {
    .bg-education-others{
        background-image: url('/images/needs/education/background/bg-education-other.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:left bottom 28%;;
    }
}
@media screen and (min-width: 1600px) {
    .content-needs-default {
        grid-template-rows: auto 4.5vh 11.2vh;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 19% 71%;
    }
    .content-supporting-default {
        grid-template-rows:94.5% auto;
    }
    .needs-home-wrapper{
        grid-template-rows: 88vh;
    }
    .needs-home-avatar-wrapper{
        grid-template-rows: 85% 15%;
    }
    #savings-monthly .content-supporting-default {
        grid-template-rows: 90% auto;
    }
}
@media screen and (min-width: 2000px) {
    .content-needs-default {
        grid-template-rows: auto 5% 8.7%;
    }
    .needs-stand-bg{
        padding:190px;
    }
    .needs-stand-bg.error-padding{
        padding:230px;
    }
    .wrapper-needs-supporting-default {
        grid-template-rows: 19% 74%;
    }
    .content-supporting-default {
        grid-template-rows:96% auto;
    }
    .needs-home-wrapper{
        grid-template-rows: 90vh;
    }
    #education-home .needs-stand-bg {
        padding: 250px;
    }
    .needs-home-wrapper{
        grid-template-rows: 90vh;
    }
    .savings-monthly{
        grid-template-columns: 42% 20%;
    }
}

































/****************************************************** Redo Everything ******************************************************************/

/* Gender Selection */
:where(html){
    --skinColor-1: linear-gradient(to bottom right,#FFAE9E,#FFAE9E,#FFAE9E,#FFAE9E,#FFAE9E,#FFAE9E,#FFAE9E,#FFAE9E);
    --skinColor-2: linear-gradient(to bottom right,#F3A391,#F3A391,#F3A391,#F3A391,#F3A391,#F3A391,#F3A391,#F3A391);
    --skinColor-3: linear-gradient(to bottom right,#F69E6E,#F69E6E,#F69E6E,#F69E6E,#F69E6E,#F69E6E,#F69E6E,#F69E6E);
    --skinColor-4: linear-gradient(to bottom right,#C68471,#C68471,#C68471,#C68471,#C68471,#C68471,#C68471,#C68471);
    --skinColor-5: linear-gradient(to bottom right,#B66951,#B66951,#B66951,#B66951,#B66951,#B66951,#B66951,#B66951);
    --skinColor-6: linear-gradient(to bottom right,#8F452F,#8F452F,#8F452F,#8F452F,#8F452F,#8F452F,#8F452F,#8F452F);
}
.bg-gender{
    background: url(/images/avatar-general/gender-selection-display.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}
.left-center{
    bottom: 50%;
    left: 10%;
}
.right-center{
    bottom: 50%;
    right: 10%;
}

/* Global */
.position-absolute.center{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.h-88{
    height: 88% !important;
}
.f-64{
    font-size: 64px !important;
}
.w-80{
    width: 80%;
}
.wd-80{
    width: 100% !important;
}
.f-34{
    font-size: 34px !important;
}
.fund-nav-rad{
    border-radius: 0px 0px 20px 20px;
}
.chart-canvas{
    width: 434px !important;
    height: 434px !important;
}
.w-30{
    width: 30%;
}
.max-h-100{
    max-height: 100%;
}
/* Only show on bigger screen like desktop (min width 1250px) */
.show-desktop{
    display: none !important;
}
/* Only show on mobile and tablet devices (max width 1024px) */
.hide-desktop{
    display: none !important;
}
/* Only show on small device like mobile (max width 596px) */
.d-hide-desk{
    display: none !important;
}
/* Only show on small device like mobile (max width 767px) */
.show-mobile{
    display: none !important;
}
/* Only hide on mobile device (max width 767px) */
.hide-mobile{
    display:block !important;
}
/* Only hide on tablet device (max width 1024px) */
.hide-tablet{
    display: block !important;
}
.education_coverage .slick-prev{
    left: 15px;
}
.education_coverage .slick-next{
    right: 0;
}
.education_coverage .slick-prev:before,
.education_coverage .slick-next:before{
    color: #000;
}
.slick-height{
    height: 100% !important;
}
.slick-padding{
    padding: 3rem 3rem 0px 3rem;
}
.slide-button:hover path{
    fill: #fff;
}
svg.slide-button.slick-arrow:hover {
    background: #C21B17;
}

/* Global - Needs */
.bg-needs{
    background-image: url('/images/needs/education/bg-need-plain.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-needs-content{
    background-image: url('/images/needs/education/bg-needs-master.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.bg-needs-content-full{
    background-image: url('/images/needs/investment/bg-investment-master.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

/* Education */
.education-needs-home {
    grid-template-areas: "header-spacing" "education-content-needs" "footer-avatar-default";
    grid-template-rows: 10vh 60vh 30vh;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 100%;
}
.education-content-needs {
    grid-area: education-content-needs;
}
.education-needs-coverage {
    grid-template-areas: "education-coverage-content" "footer-avatar-default";
    grid-template-rows: 66vh 34vh;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 100%;
}
.education-coverage-content {
    grid-area: education-coverage-content;
}
.footer-needs {
    grid-area: footer-needs;
    background-color: rgba(233, 233, 233, 1);
}
.position-absolute.center.up{
    top: 45% !important;
}
.bg-education{
    background-image: url('/images/needs/education/education-master-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.bg-education-book{
    background-image: url(/images/needs/education/education-plain-home.png);
    background-size: contain,90%;
    background-position: center, center 20%;
    background-repeat: no-repeat;
}
.bg-education-supporting{
    background-image: url('/images/needs/education/bg-supporting.png');
    background-repeat: no-repeat;
    background-size: 67%;
    background-position: bottom 10% left 28%;
}
.font-color-default{
    color:#000;
}
.font-color-white{
    color:#fff;
}
.bg-btn_bar{
    background-color: #E9E9E9;
}
.bg-needs_text{
    background-color: #d3d3d3;
}
.min-h-100{
    height: 100%;
}
/* #education-content .needs-nav a > img{
    filter: invert(1);
} */
#education-content p{
    font-size: 20px;
}
.pd-needs-home{
    padding:130px;
}
.avatar-height{
    height:83%;
}
.progress:after{
    border: 3px solid #a0a0a0;
}
.progress .progress-bar{
    border-width: 3px;
}
.progress-text{
    color: #C21B17;
    font-family: 'Helvetica Neue Regular';
}
.progress-left,
.progress-right{
    width: 30px; 
    height: 60px;
}
.progress{
    width: 50px; 
    height: 50px;
}
.progress .progress-value{
    line-height:45px;
}
.education-home-content{
    grid-area: education-home-content;
    grid-gap: 20px;
    grid-template-columns: 100%;
    display: grid;
    grid-auto-rows: 100%;
}
.wrapper-needs{
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-areas:
        "education-home-content"
        "education-home-text";
    grid-template-rows: 35vh 55vh;
    display: grid;
}
.coverage-content{
    grid-gap: 20px;
    grid-template-columns: 50% 50%;
    display: grid;
    grid-auto-rows: 100%;
}
.needs-home-line{
    height:2vh;
}
.needs-coverage-nav{
    height:12vh;
}
.needs-nav-mob{
    height:21vh;
}
.needs-master-nav{
    height:18.5vh;
}
.needs-master-content{
    height:66vh;
}
.needs-coverage-title{
    height:10vh;
}
.needs-coverage-content{
    height: 65vh;
}
.needs-gap-content{
    height: 75vh;
}
.h-90{
    height:90%;
}
.p-master{
    padding:70px;
}
.fund-progress{
    border-radius: 10px;
    background: #D9D9D9;
    height:10px;
}
.fund-progress-bar{
    border-radius: 10px;
    background: linear-gradient(90deg, #AA1B17 0%, #DA331E 100%);
    height:8px;
    margin-left:1px;
}
button.choice:hover, 
button.choice:focus,
.button-needs[data-required="selected"],
.button-needs.selected {
    background-image: url('/images/general/Hover2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
.z-99{
    z-index:99;
}
.desktop-height{
    height: 100%;
}

/* Investment */
.bg-investments-needs{
    background-image: url('/images/needs/investment/bg-investment.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.bg-investment-supporting{
    background-image: url('/images/needs/investment/bg-supporting.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}
.bg-investment-return{
    background-image: url('/images/needs/investment/investment-avatar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
}
.bg-investment-others{
    background-image: url('/images/needs/education/bg-others-new.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.bg-investment-gap{
    background-image: url('/images/needs/education/bg-gap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.calendar{
    max-width: 36%;
}

/* Form */

/* Hide the default radio buttons */
.needs-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    margin: 0;
}
  
/* Create the custom radio button using ::before pseudo-element */
.needs-radio + label {
    position: relative;
    padding-left: 40px; /* Space for the custom radio button */
    cursor: pointer;
}
  
.needs-radio + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 28px; /* Adjust the width and height to change the size */
    height: 28px;
    border: 1px solid #A0A0A0; /* Border color for the circular radio button */
    background-color: #fff; /* Background color when the radio button is not selected */
}
  
  /* Style the custom radio button when it is selected */
.needs-radio:checked + label::before {
    background-color: #fff;  /* Change the background color when selected */
}
  
/* Add a tick symbol using ::after pseudo-element when radio button is selected */
.needs-radio:checked + label::after {
    content: "\2713"; /* Unicode for the tick symbol */
    position: absolute;
    left: 6px; /* Adjust positioning of the tick symbol */
    top: 1px;
    font-size: 18px; /* Adjust font size to control the size of the tick symbol */
    color: #C21B17; /* Color of the tick symbol */
}
.money::placeholder{
    font-size: 34px;
    color: #C21B17;
    font-weight: bold;
}
.currencyinput {
    border-bottom: 3px solid #000;
    color: #C21B17;
    font-weight: 700;
}
.currencyinput input {
    border: 0;
}
.hide-content{
    display:none;
}
  
  

/* Mobile  */
@media only screen and (max-width: 596px){
    .needs-home-mobile{
        height: 100vh;
    }
    .needs-height{
        height: 100%;
    }
    .needs-mobile-nav{
        height:23vh;
    }
    .needs-mobile-content{
        height:77vh;
    }
    .w-80{
        width: 100%;
    }
    .d-hide{
        display:none !important;
    }
    .d-hide-desk{
        display: block !important;
    }
    .h-88{
        height: 70% !important;
    }
    .chart-canvas{
        width: 334px !important;
        height: 334px !important;
    }
}
@media only screen and (max-width: 767px){
    .min-h-100{
        height: 250px;
    }
    .img_center{
        transform: unset !important;
        top: -75% !important;
        left: 0 !important;
    }
    .height-mobile{
        padding-bottom: 116px;
    }
    .needs-coverage-content{
        height: 69vh;
    }
    .needs-master-content{
        height:86vh;
    }
    .needs-master-footer{
        height: 19vh;
    }
    .hide-mobile{
        display: none !important;
    }
    .show-mobile{
        display: block !important;
    }
    .needs-nav-mob{
        height:14vh;
    }
    .needs-gap-content{
        height: 88vh;
    }
    .f-34{
        font-size: 25px !important;
    }
    #education-content p{
        font-size: 16px;
    }
    .money::placeholder{
        font-size: 16px;
    }
    .slick-height{
        height: fit-content !important;
        max-height: 100% !important;
    }
    /* .slick-padding{
        padding: 3rem !important;
    } */
    .desktop-height{
        height: auto;
    }
}
@media only screen and (max-width: 596px) and (max-height: 700px){
    .needs-coverage-content{
        height: 62vh;
    }
    .needs-master-footer{
        height: 26vh;
    }
    /* .needs-master-content{
        height:43.5vh;
    } */
}
@media only screen and (max-width: 596px) and (min-height: 701px) and (max-height: 800px){
    .needs-coverage-content{
        height: 65vh;
    }
    .needs-master-footer{
        height: 23vh;
    }
    /* .needs-master-content{
        height:46.5vh;
    } */
}
@media only screen and (max-width: 596px) and (min-height: 801px) and (max-height: 900px){
    .needs-coverage-content{
        height: 67vh;
    }
    .needs-master-footer{
        height: 21vh;
    }
    /* .needs-master-content{
        height:48.5vh;
    } */
}
@media only screen and (max-width: 1024px){
    .img_center{
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    .avatar-height{
        max-height:100%;
        max-width:100%;
        object-fit: contain;
    }
    .hide-tablet{
        display: none !important;
    }
    .hide-desktop{
        display: block !important;
    }
    .bg-education-gap-mob{
        background-image: url('/images/needs/education/bg-education-gap-mob.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }
    .calendar{
        max-width: 70%;
    }
    /* .slick-padding{
        padding: 0.5rem;
    } */
    .bg-education-home{
        background-size: cover;
    }
    .bg-education-book{
        background-size: cover;
    }
}
@media only screen and (min-width: 1024px){
    .needs-home-nav {
        height: 4.5vh;
    }
    .needs-home-footer {
        height: 8vh;
    }
    .needs-coverage-content{
        height: 70vh;
    }
    .needs-master-footer{
        height: 8vh;
    }
    .needs-gap-content{
        height: 80vh;
    }
    .needs-master-content{
        height:71vh;
    }
    .needs-home-content{
        height:85.5vh;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
    .needs-home-nav{
        height:8.5vh;
    }
    .needs-home-content{
        height:76.5vh;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .needs-home-nav{
        height:5.5vh;
    }
    .needs-home-footer{
        height:9vh;
    }
    .needs-coverage-content{
        height: 69vh;
    }
    .needs-master-footer{
        height:9vh;
    }
    .needs-gap-content{
        height: 79vh;
    }
    .needs-master-content{
        height:70vh;
    }
    .needs-home-content{
        height:83.5vh;
    }
    .needs-row{
        display: grid;
    }
    .p-master{
        padding:70px;
    }
    .fund-nav-rad h3{
        font-size: 40px;
    }
    .slick-height{
        height: fit-content !important;
    }
    

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .h-88{
        height: 80% !important;
    }
}
@media only screen and (min-width: 768px) and (max-height: 1024px) {
    .needs-home-nav{
        height:6vh;
    }
    .needs-home-footer{
        height:10vh;
    }
    .needs-coverage-content{
        height: 68vh;
    }
    .needs-master-footer{
        height:10vh;
    }
    .needs-gap-content{
        height: 78vh;
    }
    .needs-master-content{
        height:69vh;
    }
    .needs-home-content{
        height:82vh;
    }

}
@media only screen and (min-width: 768px){
    .w-md-50{
        width:50%;
    }
    .vh-md-100{
        height: 100vh;
    }
}
@media only screen and (min-width: 700px) and (max-width: 767px) and (min-height: 1024px) {
    .needs-home-nav{
        height:5.5vh;
    }
    .needs-home-footer{
        height:15vh;
    }
    .needs-coverage-content{
        height: 63vh;
    }
    .needs-master-footer{
        height:15vh;
    }
    /* .needs-master-content{
        height:54.5vh;
    } */
    .needs-home-content{
        height:77.5vh;
    }

}
@media only screen and (min-width: 600px) and (max-width: 699px) and (min-height: 900px) {
    .needs-home-nav{
        height:6vh;
    }
    .needs-home-footer{
        height:17vh;
    }
    .needs-coverage-content{
        height: 70vh;
    }
    .needs-master-footer{
        height:18vh;
    }
    /* .needs-master-content{
        height:52.5vh;
    } */
    .needs-home-content{
        height:75vh;
    }

}
@media only screen and (min-width: 1500px){
    .needs-home-line{
        height:1.5vh;
    }
    .needs-home-nav{
        height:7vh;
    }
    .needs-home-footer{
        height:11vh;
    }
    .needs-coverage-content{
        height: 67vh;
    }
    .needs-master-footer{
        height:11vh;
    }
    .needs-gap-content{
        height: 77vh;
    }
    .needs-master-content{
        height:68vh;
    }
    .needs-home-content{
        height:80.5vh;
    }
    .h-xxl-100{
        height:100%;
    }
}
@media only screen and (max-height: 670px){
    h5{
        font-size: 21px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) and (max-height: 1100px){
    .needs-home-nav {
        height: 6vh;
    }
    .needs-home-content{
        height:82.5vh;
    }

}
@media only screen and (min-width: 900px) and (max-width: 1023px) and (min-height: 1100px){
    .needs-home-nav {
        height: 4.5vh;
    }
    .needs-home-footer {
        height: 8vh;
    }
    .needs-coverage-content{
        height: 70vh;
    }
    .needs-master-footer {
        height: 8vh;
    }
    .needs-gap-content{
        height: 80vh;
    }
    .needs-master-content{
        height:71vh;
    }
    .needs-home-content{
        height:85.5vh;
    }
}
@media only screen and (min-width: 1024px) and (max-height: 600px){
    .needs-home-content {
        height: 69.5vh;
    }
    .needs-home-footer {
        height: 18vh;
    }
    .needs-coverage-content{
        height: 60vh;
    }
    .needs-master-footer {
        height: 18vh;
    }
    .needs-gap-content{
        height: 70vh;
    }
    .needs-master-content{
        height:61vh;
    }
    .needs-home-nav {
        height: 10.5vh;
    }
}
/* @media only screen and (min-width: 1023px) and (min-height: 799px){
    .avatar-height{
        height:60%;
    }
} */
@media only screen and (min-width: 1024px) and (max-width: 1400px) and (min-height: 760px) and (max-height: 850px){
    .needs-home-content {
        height: 77vh;
    }
    .needs-home-footer {
        height: 13vh;
    }
    .needs-coverage-content{
        height: 65vh;
    }
    .needs-master-footer {
        height: 13vh;
    }
    .needs-gap-content{
        height: 75vh;
    }
    .needs-master-content{
        height:66vh;
    }
    .needs-home-nav {
        height: 8vh;
    }
    .avatar-height{
        height:83%;
    }
    .wd-80{
        width:80% !important;
    }
    /* .slick-padding{
        padding: 3rem;
    } */
}
@media only screen and (min-width: 1280px) and (max-height: 800px){
    .needs-home-content {
        height: 77vh;
    }
    .needs-home-footer {
        height: 13vh;
    }
    .needs-coverage-content{
        height: 65vh;
    }
    .needs-master-footer{
        height: 13vh;
    }
    .needs-gap-content{
        height: 75vh;
    }
    .needs-master-content{
        height:66vh;
    }
    .needs-home-nav {
        height: 8vh;
    }
}
@media only screen and (min-width: 1250px) and (max-width: 1280px) and (min-height: 801px){
}
@media only screen and (min-width: 1250px){
    .bg-needs-desktop{
        background-image: url('/images/needs/background/bg-master-needs.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:left center;
    }
    .show-desktop{
        display: block !important;
    }
    .d-vh-100{
        height: 100vh !important;
    }
}
@media only screen and (max-width: 1199px){
    .first-order{
        order:1;
    }
    .second-order{
        order:2;
    }
}

/* @media only screen and (max-width: 1440px){
    .needs-home-line{
        height:2vh;
    }
    .needs-home-nav{
        height:8vh;
    }
    .needs-home-footer{
        height:14vh;
    }
    .needs-home-content{
        height:76vh;
    }
} */