/* Adjust Gap graph style */
#gap .card-gap__number{
    font-size: 70px !important;
    line-height: 45px !important;
}

/* Adjusted for selection hover effect */
.btm-no:hover,
.btn-summary.default.selected,
.btn-summary[data-required="selected"]{
    background-color: #fff;
    border: 1px solid #C21B17;
    color: #C21B17;
}
button.choice:hover,
button.choice[data-required="selected"],
button.choice.default.selected,
button.choice[data-required=""]{
    background: none !important;
    width: 100% !important;
}
button.choice:hover img,
button.choice[data-required="selected"] img,
button.choice.default.selected img{
    background-image: url(/images/needs/hover-coverage.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}