/* Adjust Gap graph style */
#gap .card-gap__number{
    font-size: 70px !important;
    line-height: 45px !important;
}

/* Adjusted for selection hover effect */
.btm-no:hover,
.btn-summary.default.selected,
.btn-summary[data-required="selected"]{
    background-color: #fff;
    border: 1px solid #C21B17;
    color: #C21B17;
}
button.choice:hover,
button.choice[data-required="selected"],
button.choice.default.selected,
button.choice[data-required=""]{
    background: none !important;
    width: 100% !important;
}
button.choice:hover img,
button.choice[data-required="selected"] img,
button.choice.default.selected img{
    background-image: url(/images/needs/hover-coverage.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
}

/* Change disabled border color */
.disabled-color{
    border-color: #A0A0A0 !important;
}

/* Education Coverage age style */
.coverage-age{
    grid-area: coverage-age;
    grid-template-columns: 100%;
    font-size: 20px;
    border-radius: 17.5px;
    background:linear-gradient(90deg, #66B560 0%, #2272B6 100%);
    width: 100px;
    height: 35px;
}

.bg-transparent{
    background-color: transparent;
}

/* Education Cost Guide Modal Style */
#tuitionFees .modal-dialog{
    max-width: 1200px;
}
#tuitionFees .modal-title{
    font-family: "Helvetica Neue Bold Condensed", sans-serif;
    font-weight: 700;
    font-size: 58px !important;
}
#tuitionFees .btn-exit-sidebar:hover{
    background: transparent;
}
#tuitionFees .modal-footer p{
    line-height: normal;
    margin: 0;
    font-size: 18px;
    width: 100%;
}
#costingTable table,
#costingTable th,
#costingTable tr,
#costingTable td{
    background-color: transparent;
    color: #fff;
}
#costingTable tbody th,
#costingTable tbody tr,
#costingTable tbody td{
    font-weight: 400;
    font-size: 18px;
}

/* Savings Goals page input text style */
#savings-goals .display-5{
    font-size: calc(1.3375rem + 1.05vw) !important;
}

/* Global/General */
.position-absolute.center{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.w-85{
    width: 85% !important;
}

/* ===============================  Risk Profile =======================================*/
#savings-risk-profile .content-needs-grey,
#investment-risk-profile .content-needs-grey{
    grid-template-rows: 5vh 60vh;
}
.risk-header{
    grid-area: risk-header;
    grid-template-columns: 100%;
    display: grid;
}
.risk-selection{
    grid-area: risk-selection;
    grid-template-columns: 100%;
    display: grid;
}
.risk-content{
    grid-area: risk-content;
    grid-template-columns: 100%;
    display: grid;
}
.risk-btn{
    background:#fff;
    border:1px solid #C0232C;
    color:#C0232C;
    font-size: 22px;
    font-weight: 700;
    width: 301px;
    height: 85px;
}
.risk-btn:hover,
.risk-btn[data-required="selected"],
.risk-btn.selected{
    background: #C0232C;
    color: #fff;
}
.risk-potential-title{
    font-size: 18px;
    font-family: 'Helvetica Neue';
    line-height: 22px;
}
.potential-btn{
    background-color: #fff;
    border: 1px solid #A0A0A0;
    width: 100px;
    height: 57px;
    font-size: 22px;
}
.potential-btn:hover,
.potential-btn[data-required="selected"],
.potential-btn.selected{
    border: 1px solid #C0232C;
}
.potential-btn.border-start-0.border-end-0:hover,
.potential-btn.border-start-0.border-end-0[data-required="selected"],
.potential-btn.border-start-0.border-end-0.selected{
    border-left: 1px solid #C0232C !important;
    border-right: 1px solid #C0232C !important;
}

/* Health medical - medical plan room selection */
#hospital-room-selection .needs-stand-bg{
    padding: 75px;
}
.wrapper-room-selection{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    grid-template-areas:
        "room-selection-title"
        "room-selection-content";
    grid-gap: 0px;
}
.room-selection-title{
    grid-area: room-selection-title;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    display: grid;
}
.room-selection-content{
    grid-area: room-selection-content;
    display: grid;
    
    grid-template-rows: 100%;
}
.single.room-selection-content {
    grid-template-columns: 15% 60% 25%;
    /* grid-template-columns: 20% 55% 25%; */
}
.patient,
.patient-2 {
    grid-template-areas:
        "windows"
        "avatar-patient";
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}
.avatar-patient{
    grid-area: avatar-patient;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.single-patient,
.single-patient-2{
    display: flex;
    padding: 0;
}
.single-patient{
    justify-content: start;
}
.single-patient-2{
    justify-content: end;
}

/* Coverage slider style */
@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait){
    .coverage_slick button div.justify-content-end{
        justify-content: center !important;
    }
}
@media only screen and (width: 1024px) and (height: 768px) and (orientation: landscape){
    .coverage_slick button div.justify-content-end{
        justify-content: center !important;
    }
}
@media only screen and (width: 600px) and (height: 960px) and (orientation: portrait){
    .coverage_slick button div.justify-content-end{
        justify-content: flex-start !important;
    }
    #education_coverage .slick-track{
        padding-bottom: 55px;
    }
}
/* Calculator style */
@media only screen and (max-width: 767px){
    .header p.display-6{
        font-size: 14px;
    }
    .text-sm-center{
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .calculator-page .content-needs-grey {
        grid-auto-rows: 0vh 0vh 70vh;
    }
    .wrapper-bottom-grey{
        grid-template:
        "header" 0vh
        "content-needs-grey" 50vh
        "footer-avatar-grey" 35vh / 100%;
    }
    .pe-sm-0{
        padding-right: 0 !important;
    }
    .calculator-page .bottom-content img{
        height: 100% !important;
    }
    .bottom-content .tertiary-mobile-bg{
        background-size: contain;
    }
    .bottom-content .tertiary-mobile-bg.h-100{
        height: 50% !important;
        max-height: 100% !important;
    }
    .h-sm-100{
        height: 100% !important;
    }
}
@media only screen and (min-width: 768px){
    .w-md-50{
        width: 50% !important;
    }
}
@media only screen and (min-width: 1600px){
    .col-xxxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}