
.form-input-needs-xs {
    width: 11%;
    font-size: 2.125rem;
    line-height: 1rem;
    background-color:transparent !important;
}
.form-input-needs-sm {
    width: 12%;
    font-size: 2.125rem;
    line-height: 1rem;
    background-color:transparent !important;
}

.form-input-needs-md {
    width: 20%;
    font-size: 2.125rem;
    line-height: 1rem;
}

.form-input-needs-lg {
    width: 45%;
    font-size: 2.125rem;
    line-height: 1rem;
}
/* .neg-left {
    position:relative;
    left:-6px;
} */

/* Retirement - Home page */
.needs-grey-bg {
    padding-top: 280px;
    background-color: #E9E9E9;
}


.needs-grey-bg-md {
    padding-top: 240px;
    left: 0px;
    background-color: #E9E9E9;

}

/* main css for needs */
.bg-needs-1 {
    background-image: url(/images/needs/background/bg-needs-1.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}
.bg-needs-2 {
    background-image: url(/images/needs/background/bg-needs-2.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}
.bg-needs-3 {
    background-image: url(/images/needs/background/bg-needs-3.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
}
.bg-needs-gap {
    background-image: url(/images/needs/background/bg-needs-gap.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80vh;
}
.bg-needs-gap2 {
    background-image: url(/images/needs/background/bg-needs-gap2.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width:100%;
}

/* .main-cloud {
    background-image: url(/images/needs/background/abstracts/cloud-1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height:100vh;
} */
.second-cloud {
    background-image: url(/images/needs/background/abstracts/cloud-2.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}
.green-tick {
    display: inline-block;
    width: 30px; /* Adjust the width and height to match your icon size */
    height: 30px;
    background: url('/images/needs/background/green-tick.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.red-tick {
    display: inline-block;
    width: 30px; /* Adjust the width and height to match your icon size */
    height: 30px;
    background: url('/images/needs/background/red-tick.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.clock-icon {
    display: inline-block;
    width: 17px; /* Adjust the width and height to match your icon size */
    height: 17px;
    background: url('/images/needs/background/clock-icon.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.glow-box {
    box-shadow: 4px 20px 20px 0px rgba(198, 198, 198, 0.25), -4px -10px 20px 0px #E4F4F6;
}
/* Protection pages */

/* Protection - Monthly Support */
.monthly-support-asset {
    left: 7%;
    bottom: 0%;
    z-index: 10;
    width: 49vh;
}

/* Protection - Existing Policy */
.protection-existing-policy-asset {
    left: 7%;
    bottom: 0%;
    z-index: 10;
    width: 49vh;
}


.calendar-protection {
    width:85%;
}


/* Retirement - Ideal age to retire page */
#bg-ideal-age {
    background-image: url(/images/needs/retirement/bg-age-to-retire.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}
.avatar-age-to-retire {
    right: 14%;
    bottom: 9%;
    z-index: 10;
    width: 52vh;
}

.retirement-progress {
    border-radius: 10px;
    background: #D9D9D9;
    height: 10px;
}

.retirement-progress-bar {
    border-radius: 10px;
    background: linear-gradient(90deg, #AA1B17 0%, #DA331E 100%);
    height: 8px;
    margin-left: 1px;
}

.summary-progress-bar {
    border-bottom-right-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

/* Retirement - Allocated funds */
#bg-allocated-funds {
    background-image: url(/images/needs/retirement/bg-allocated-funds.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-allocated-funds {
    right: 8%;
    bottom: 12%;
    z-index: 10;
    width: 62vh;
}

/* Retirement - years to retire */
#bg-years-to-retire {
    background-image: url(/images/needs/retirement/bg-years-to-retire.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-years-till-retire {
    right: 4%;
    bottom: 12%;
    z-index: 10;
    width: 52vh;
}

/* Retirement - allocated funds aside */
#bg-allocated-funds-aside {
    background-image: url(/images/needs/retirement/bg-allocated-funds-aside.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-allocated-funds-aside {
    left: 3%;
    top: 10%;
    z-index: 10;
    width: 70vh;
}

/* .fixed-bottom {
    z-index: 5;
} */
.needs-text {
    z-index:1000;
}
h5.gap-text {
    font-size: 1.6rem;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5.gap-value {
    font-size: 2rem;
}


.box-shadow{
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;

}

.box-shadow:hover{
    /* -webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05); */
	filter:drop-shadow(1px 5px 4px rgba(0, 69, 134, 0.4));

}
.selected-box-shadow {
    filter:drop-shadow(1px 5px 4px rgba(179, 73, 91, 0.4));
    /* pointer-events: none; */
}
.slick-arrow {
    display: flex;
    cursor: pointer;
    font-size: 50px;
    z-index:11;
}

/* error message position */ 
.errorMessage {
    top:20%;
    left:0;
    
}

.input-text {
font-size:2.125rem;
font-family:"Helvetica Neue Bold", sans-serif;
}
.fs-64 {
    font-size:4rem;
}
.posErrorMessage {
    width: 90% !important;
    left: 11px;
}


  /* mobile css */
@media only screen and (max-width: 767px) {
    body,
    html {
      overflow-y: auto;
    }
    /* body {
        min-height: 51.5rem;
    padding-top: 5.5rem;
    } */
    .vh-sm-0 {
        height:100% !important;
      }
    .w-sm-100 {
        width:100% !important;
    }
    .bg-needs-main {
        background-size:cover;

    }
    .bg-needs-1 {
        background-size:cover;

    }
    .bg-retirement-home{
        background-size:cover;

    }
    .needs-home-avatar {
        top: 5%;
        left: 0%;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: relative !important;
    }
    #retirement_home .needs-home-avatar img {
        height: 37vh;
    }

    /* .needs-home-avatar img {
        height: 50vh;
    } */

    .needs-grey-bg {
        display:none !important;        
    }

    .needs-grey-bg-mobile {
        padding: 25px;
        background-color: #E9E9E9;
        width: 100%;
    }

    .needs-grey-bg-md {
        padding: 136px;
    }
    .coverage-avatar {
        z-index:5;
    }

    .coverage-avatar img.self-avatar {
        width: 17vh;
    }

    .coverage-avatar img.spouse-avatar {
        width: 15vh;
    }

    .coverage-avatar img.kid-avatar {
        width: 15vh;
    }

    .coverage-avatar img.parent-avatar {
        width: 30vh;
    }

    .avatar-age-to-retire {
        top: 5%;
        right: 0%;
        width: 41vh;
    }
/* .children-avatar-mobile {
    min-height: 430px !important;
} */
    .avatar-years-till-retire {
        right: 0;
        width: 40vh;
    }

    .avatar-allocated-funds {
        right: 0;
        width: 45vh;
        bottom: 0;
    }

    .avatar-allocated-funds-aside {
        left: 0;
        top: 0px;
        width: 43vh;
    }
    .summary-progress-bar {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
.monthly-support-asset {
    left: 0;
    bottom: -10%;
    width: 30vh;
}
.protection-existing-policy-asset {
    left: 0;
    bottom: 0;
    width: 22vh;
}

.form-input-needs-xs {
    width:16%;
    font-size: calc(1.3375rem + 1.05vw);
}
.form-input-needs-md{
    width:34%;
    font-size: calc(1.3375rem + 1.05vw);
}
.calendar-protection {
width: 80%;
}
/* .fixed-bottom {
    z-index:
     1000;
} */
#protection_home .needs-home-avatar img {
    height:53vh;
}

#protection_home .needs-home {
    grid-template-rows: 5vh 26vh 42vh;
}

/* form input-needs */
.input-text {
    font-size:calc(1.3375rem + 1.05vw);
}
.fs-64 {
    font-size:calc(1.3375rem + 1.05vw);
}
.posErrorMessage {
    top:0 !important;
    z-index: 1000;
    bottom: auto !important;
}
    
}
/* large desktop css */
@media screen and (min-height:840px) and (min-width:968px) {

    .needs-home-avatar {
        top: 15%;
    }
    .avatar-allocated-funds{
        bottom:0;
    }
    .avatar-years-till-retire {
        bottom:0;
    }
    .avatar-allocated-funds-aside {
        top:22%;
    }
    .avatar-age-to-retire {
    right: 11%;
    bottom: 0%;
    z-index: 10;
    width: 59vh;
    }

    .coverage-avatar img.self-avatar{
        width: 23vh;
      }
      .coverage-avatar img.spouse-avatar{
        width: 20vh;
      }
      .coverage-avatar img.kid-avatar{
        width: 21vh;
      }
      .coverage-avatar img.parent-avatar{
        width: 40vh;
      }

      .coverage-avatar {
        bottom:3%;
      }

      .monthly-support-asset {
        left: 8%;
        bottom: -3%;
        z-index: 10;
        width: 58vh;
    }


}

/* Code for Retirement - Ideal page */
#optionsForIdeal img {
    width: 40vh;
}


/* target iPad air,iPad Pro */
@media only screen and (min-width: 768px) and (max-height: 1180px) and (orientation: portrait) {
    .calendar-protection {
        width: 62%;
    }
    .protection-existing-policy-asset {
        left: 0;
        bottom: 0%;
        z-index: 10;
        width: 34vh;
    }
    .needs-home-avatar img {
        height: 63vh;
       }
       .monthly-support-asset {
        left: -5%;
        bottom: 8%;
        z-index: 10;
        width: 40vh;
    }
    
}

/* target large screen */
@media only screen and (width: 688px) and (height:1031px) and (orientation:portrait) {
    .protection-existing-policy-asset {
        left: 0px;
        bottom: 0%;
        width: 28vh;
    }
    .needs-home-avatar img {
        height: 43vh;
    }
}


/* @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  } */

  .ell1 {
    display: flex;
    /* margin: auto; */
    width: 309px;
    height: 309px;
    background:#FFFFFF;
    /* box-shadow: 3px 3px 1px #3B3F44; */
    filter: drop-shadow(-11px -10px 20px #FFEEE2) drop-shadow(0px 20px 20px rgba(150, 217, 227, 0.30));
    border-radius: 1000px;
  }
  .ell2 {
    display: flex;
    margin: auto;
    width: 268px;
    height: 268px;
    background: #575757;
    border: 1px solid #1D1F22;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.30) inset;
    border-radius: 1000px;
  }
  .ell3 {
    display: flex;
    margin: auto;
    width: 219px;
    height: 219px;
    background:  #ffffff;
    border: 1px solid #1E2023;
    border-radius: 1000px;
    z-index: 1;
  }
  .ell4 {
    display: flex;
    margin: auto;
    width: 175px;
    height: 175px;
    background: #ffffff;
    /* border: 3px solid #292D32; */
    border-radius: 1000px;
  }
  .ell4 .ellText {
    margin: auto;
    /* width: 95px; */
    text-align: center;
  }
  .ellText h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 35px;
  }
  
  .ellP {
      position: absolute;
      width: 268px;
      height: 268px;
      border-radius: 1000px;
      transform: rotate(-83.2deg);
  }
  #chart-gap svg {
    height: 268px;
  }
  .ellP svg circle {
      margin: auto;
      fill: none;
      stroke-width: 28px;
      stroke-linecap: round;
      transform: translate(134px, 64px);
      width: 268px;
      height: 268px;
        background: linear-gradient(180deg, #FF7D7A 0%, #C1210D 100%);
  }
  #chart-gap svg circle:nth-child(2) {
      stroke-dashoffset: calc(440 - (440 * 90) / 100);
      stroke-dasharray: 440;
  }