/* added to fix overlaying issue with needs navigation unable to be selected in mobile */
.navbar {
    right:50%;
}

.form-input-needs-xs {
    width: 11%;
    font-size: 2.125rem;
    line-height: 1rem;
    background-color:transparent !important;
}
.form-input-needs-sm {
    width: 12%;
    font-size: 2.125rem;
    line-height: 1rem;
    background-color:transparent !important;
}

.form-input-needs-md {
    width: 20%;
    font-size: 2.125rem;
    line-height: 1rem;
}

.form-input-needs-lg {
    width: 45%;
    font-size: 2.125rem;
    line-height: 1rem;
}
/* .neg-left {
    position:relative;
    left:-6px;
} */

/* Retirement - Home page */
.needs-grey-bg {
    height: 280px;
    background-color: #E9E9E9;
}


.needs-grey-bg-md {
    height: 240px;
    left: 0px;
    background-color: #E9E9E9;

}

/* main css for needs */
.bg-needs-1 {
    background-image: url(/images/needs/background/bg-needs-1.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}
.bg-needs-2 {
    background-image: url(/images/needs/background/bg-needs-2.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}
.bg-needs-3 {
    background-image: url(/images/needs/background/bg-needs-3.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;.bg-needs-4 {
    background-image: url(/images/needs/background/bg-needs-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
    height: 100%;
}
.bg-needs-gap {
    background-image: url(/images/needs/background/bg-needs-gap.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: calc(100vh - 120px);
}
.bg-needs-gap2 {
    background-image: url(/images/needs/background/bg-needs-gap2.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width:100%;
}

/* .main-cloud {
    background-image: url(/images/needs/background/abstracts/cloud-1.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height:100vh;
} */
.second-cloud {
    background-image: url(/images/needs/background/abstracts/cloud-2.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
}
.green-tick {
    display: inline-block;
    width: 30px; /* Adjust the width and height to match your icon size */
    height: 30px;
    background: url('/images/needs/background/green-tick.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.red-tick {
    display: inline-block;
    width: 30px; /* Adjust the width and height to match your icon size */
    height: 30px;
    background: url('/images/needs/background/red-tick.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.clock-icon {
    display: inline-block;
    width: 17px; /* Adjust the width and height to match your icon size */
    height: 17px;
    background: url('/images/needs/background/clock-icon.svg') no-repeat center center;
    background-size: contain; /* Adjust this property based on your image dimensions */
}
.glow-box {
    box-shadow: 4px 20px 20px 0px rgba(198, 198, 198, 0.25), -4px -10px 20px 0px #E4F4F6;
}
/* Protection pages */

/* Protection - Monthly Support */
.monthly-support-asset {
    left: 7%;
    bottom: 0%;
    z-index: 10;
    width: 49vh;
}

/* Protection - Existing Policy */
.protection-existing-policy-asset {
    left: 7%;
    bottom: 0%;
    z-index: 10;
    width: 49vh;
}


.calendar-protection {
    width:85%;
}

/* Protection Pages */
/* Protection - Home */
.needs-home {
    grid-template-areas: "header-avatar-default" "content-needs" "footer-avatar-default";
    grid-template-rows: 15vh 71vh 13vh;
    grid-gap: 0;
    display: grid;
    grid-template-columns: 100%;
}
.content-needs {
    grid-area: content-needs;
}
.footer-needs {
    grid-area: footer-needs;
    background-color: rgba(233, 233, 233, 1);
}
#protection_home .needs-home-avatar img {
    max-height: 55vh;
  }

#retirement_home .needs-home-avatar img {
        max-height: 52vh;
}


/* Retirement - Ideal age to retire page */
#bg-ideal-age {
    background-image: url(/images/needs/retirement/bg-age-to-retire.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}
.avatar-age-to-retire {
        right: 0%;
        bottom: 9%;
        z-index: 10;
        width: 64vh;
}

.retirement-progress {
    border-radius: 10px;
    background: #D9D9D9;
    height: 10px;
}

.retirement-progress-bar {
    border-radius: 10px;
    background: linear-gradient(90deg, #AA1B17 0%, #DA331E 100%);
    height: 8px;
    margin-left: 1px;
}

.summary-progress-bar {
    border-bottom-right-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
}

/* Retirement - Allocated funds */
#bg-allocated-funds {
    background-image: url(/images/needs/retirement/bg-allocated-funds.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-allocated-funds {
    right: 8%;
    bottom: 12%;
    z-index: 10;
    width: 62vh;
}

/* Retirement - years to retire */
#bg-years-to-retire {
    background-image: url(/images/needs/retirement/bg-years-to-retire.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-years-till-retire {
    right: 4%;
    bottom: 12%;
    z-index: 10;
    width: 52vh;
}

/* Retirement - allocated funds aside */
#bg-allocated-funds-aside {
    background-image: url(/images/needs/retirement/bg-allocated-funds-aside.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 66vh;
}

.avatar-allocated-funds-aside {
    left: 3%;
    top: 10%;
    z-index: 10;
    width: 70vh;
}

/* .fixed-bottom {
    z-index: 5;
} */
.needs-text {
    z-index:1000;
}
h5.gap-text {
    font-size: 1.6rem;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h5.gap-value {
    font-size: 2rem;
}


.box-shadow{
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;

}

.box-shadow:hover{
    /* -webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05); */
	filter:drop-shadow(1px 5px 4px rgba(0, 69, 134, 0.4));

}
.selected-box-shadow {
    filter:drop-shadow(1px 5px 4px rgba(179, 73, 91, 0.4));
    /* pointer-events: none; */
}
.slick-arrow {
    display: flex;
    cursor: pointer;
    font-size: 50px;
    z-index:11;
}

.input-text {
font-size:2.125rem;
font-family:"Helvetica Neue Bold", sans-serif;
}
.fs-64 {
    font-size:4rem;
}
.fs-18 {
    font-size:18px;
}
.toast {
    box-shadow:none;
}

.btn-custom-close {
    background: transparent;
    border: 0;
    line-height: 1.2rem;
    font-size: 25px;
}

@keyframes slide-in-from-bottom {
    from {
      transform: translateY(30px);
    }
    to {
      transform: translateY(0px);
    }
  }
  .toast.slide-in-from-bottom {
    animation: slide-in-from-bottom 0.5s ease-in-out;
  }

  .pos-bottom-error {
    bottom:13% !important;
    z-index:100;
  }
  .label-invalid {
    border:3px solid var(--bs-form-invalid-border-color);
  }
  .label-invalid:focus {
    border-color: #000000;
  }
  .ideal-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 26px;
  }
  .coverage-avatar img.spouse-avatar {
    padding-right: 10px;
  }
  
  /* mobile css */
@media only screen and (max-width: 767px) {
    body,
    html {
      overflow-y: auto;
    }

    /* added to fix overlaying issue with needs navigation unable to be selected in mobile */
    .navbar {
        right:0;
    }
    /* body {
        min-height: 51.5rem;
    padding-top: 5.5rem;
    } */
    .vh-sm-0 {
        height:100% !important;
      }
    .w-sm-100 {
        width:100% !important;
    }
    .bg-needs-main {
        background-size:cover;
        height:100vh;

    }
    .bg-needs-1 {
        background-size:cover;

    }
    .bg-retirement-home{
        /* background-size:cover; */
        background: none;

    }
    .needs-home-avatar {
        top: 0;
        left: 0%;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: relative !important;
    }
    #retirement_home .needs-home-avatar img {
        height: 53vh;
    }
    .needs-grey-bg {
        display:none !important;        
    }

    .needs-grey-bg-mobile {
        height: 90px;
        background-color: #E9E9E9;
        width: 100%;
        position:relative;
        top:-1%;
        z-index: 0 !important;
    }

    .needs-grey-bg-md {
        height: 0;
    }
    .coverage-avatar {
        z-index:5;
    }

    .coverage-avatar img.self-avatar {
        width: 19vh;
    }

    .coverage-avatar img.spouse-avatar {
        width: 17vh;
    }

    .coverage-avatar img.kid-avatar {
        width: 17vh;
    }

    .coverage-avatar img.parent-avatar {
        width: 32vh;
    }
    .avatar-age-to-retire {
        top: 5%;
        right: 0%;
        width: 41vh;
    }
    .avatar-years-till-retire {
        right: 0;
        width: 40vh;
    }

    .avatar-allocated-funds {
        right: 0;
        width: 45vh;
        bottom: 0;
    }

    .avatar-allocated-funds-aside {
        left: 0;
        width: 43vh;
    }
    .summary-progress-bar {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #optionsForIdeal img {
        width: 100% !important;
    }
.monthly-support-asset {
    left: 0;
    bottom: -10%;
    width: 30vh;
}
.protection-existing-policy-asset {
    left: 0;
    bottom: 0;
    width: 22vh;
}

.form-input-needs-xs {
    width:16%;
    font-size: calc(1.3375rem + 1.05vw);
}
.form-input-needs-md{
    width:34%;
    font-size: calc(1.3375rem + 1.05vw);
}
.calendar-protection {
width: 80%;
}

#protection_home .needs-home {
    /* grid-template-rows: 5vh 73vh 16vh; */
    grid-template-rows: 5vh 52vh 16vh;
}

/* form input-needs */
.input-text {
    font-size:calc(1.3375rem + 1.05vw);
}
.fs-64 {
    font-size:calc(1.3375rem + 1.05vw);
}

/* Needs - Home - Mobile CSS */
#protection_home .progress-main p.display-6 , #retirement_home .progress-main p.display-6{
    color:#ffffff !important;
}
.progress-value p {
    color:inherit !important;
}
#protection_home .fixed-bottom , #retirement_home .fixed-bottom {
    z-index: 1;
}
.needs-home {
    grid-template-rows: 8vh 26vh 30vh;
}
/* End for Needs - Home - Mobile CSS */

.svg-container {
    transform: scale(1) !important;
}
.needs-text {
    display: flex;
    justify-content: center;
}
.pos-bottom-error {
    bottom:11% !important;
  }

.fixed-bottom {
    z-index: 10;
}

#protection_coverage.slick-track {
    height: 57vh;
}

.navbar-default.transparent {
    background: transparent !important;
}
/* used for kid height in mobile */
#protection_coverage .slick-track {
    height: 57vh;
}
}
/* large desktop css */
@media screen and (min-height:840px) and (min-width:968px) {

    .avatar-allocated-funds{
        bottom:0;
    }
    .avatar-years-till-retire {
        bottom:0;
    }
    .avatar-allocated-funds-aside {
        top:22%;
    }
    .avatar-age-to-retire {
        right: 0%;
        bottom: 8%;
        z-index: 10;
        width: 50vh;
    }

    .coverage-avatar img.self-avatar{
        width: 24vh;
      }
      .coverage-avatar img.spouse-avatar{
        width: 21vh;
      }
      .coverage-avatar img.kid-avatar{
        width: 19vh;
      }
      .coverage-avatar img.parent-avatar{
        width: 40vh;
      }
      .monthly-support-asset {
        left: 8%;
        bottom: -3%;
        z-index: 10;
        width: 58vh;
    }
    .pos-bottom-error {
        bottom:11% !important;
      }

}

/* Code for Retirement - Ideal page */
#optionsForIdeal img {
    width: 100%;
    max-width: 330px;
}


/* target iPad, iPad mini */
@media only screen and (width: 768px) and (max-height: 1366px) and (orientation: portrait) {
    /* protection - home */
    .bg-needs-main {
        /* background-position: center 70%, center 55%; */
        background-size: cover;
      }
  
      .calendar-protection {
        width: 62%;
      }
  
      .protection-existing-policy-asset {
        left: 0;
        bottom: 19%;
        z-index: 10;
        width: 28vh;
      }
  
      .monthly-support-asset {
        left: -5%;
        bottom: 8%;
        z-index: 10;
        width: 40vh;
      }
  
      .needs-text {
        display: flex;
        justify-content: center;
      }
  
      .w-sm-25 {
        width: 25% !important;
      }
  
      .avatar-allocated-funds-aside {
        width: 50vh;
        top: -10%;
      }
  
      .needs-home {
        grid-template-rows: 21vh 71vh 13vh;
      }
  
      #retirement_home .needs-home {
        grid-template-rows: 23vh 53vh 13vh;
      }
  
      .pos-bottom-error {
        bottom: 10% !important;
      }
  
      .avatar-age-to-retire {
        width: 50vh !important;
      }
  
      .avatar-allocated-funds {
        width: 52vh !important;
      }
  
      .avatar-years-till-retire {
        width: 46vh !important;
      }
  
      .svg-container {
        transform: scale(1) !important;
      }
  
      .needs-grey-bg-md {
        padding-top: 300px;
      }
  
      .slick-track {
        height: 63vh;
      }
  
      #protection_coverage .bg-needs-main {
        background-position: center center;
        height: 110vh;
        width: 100%;
      }
  
      #protection_coverage .slick-track {
        height: 67vh;
      }
  
      .coverage-avatar img.self-avatar {
        width: 24vh;
      }
  
      .coverage-avatar img.spouse-avatar {
        width: 20vh;
      }
  
      .coverage-avatar img.parent-avatar {
        width: 36vh;
      }
    
}

/* Target iPad,iPad mini in landscape mode */
@media only screen and (min-width: 768px) and (max-width:1112px) and (max-height: 1024px) and (orientation: landscape) {
    .needs-home-avatar img {
        height: 54vh;
    }
    .needs-home {
        grid-template-rows: 13vh 60vh 17vh;
        }
        #retirement_home .needs-home-avatar img {
            max-height: 48vh;
        }
        #bg-ideal-age {
            max-width: 50vh;
        }
        .avatar-age-to-retire {
            left:18%;
          }
        #optionsForIdeal img {
            max-width: 310px;
        }        

        .slick-track {
            height: 63vh;
        }
        .bg-needs-main {
            background-position: center center;
            height: 110vh;
            /* width: 100%; */
        }
        .retire-ideal-button {
            border: 0;
            background: transparent;
            box-shadow: none;
        }
        .retire-ideal-button.selected-box-shadow {
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        }      
        .avatar-age-to-retire {
            width: 50vh !important;
          }
        #retirmentAllocatedFunds .bg-needs-1 {
            height: 57vh;
        }
        .avatar-allocated-funds-aside {
            top: 0;
            width: 60vh;
        }
        h5.gap-value {
            font-size: 1.5rem;
        }   
        h5.gap-text {
            font-size: 1.2rem;
        }
        .svg-container {
            transform: scale(1.2) !important;
          }

}


/* target Nexus 10:800px, iPad Air:820px and iPad Pro:1024px */
@media only screen and (min-width:800px) and (max-width:1024px) and (max-device-height:1366px) {
    .needs-home-avatar img {
        max-height: 60vh !important;
        max-width: 100vh;
    }
    .needs-home {
        grid-template-rows: 21vh 71vh 13vh;
        }
    .bg-needs-main {
            /* background-position: center 70%, center 55%; */
            background-size: cover;
    }  
    #protection_coverage .slick-track {
        height: 74vh;
    } 
    .needs-grey-bg-md {
        height:300px;
    }
    .pos-bottom-error {
        bottom: 7.5% !important;
    }
}

/* target Nexus 10:1280px, iPad Air:1180px and iPad Pro:1366px */
@media only screen and (min-width:1180px) and (max-width:1366px) and (max-device-height:1366px) and (orientation:landscape) {
    .needs-grey-bg {
        height:300px;
    }
}

/* target Galaxy Tab 4 */
@media only screen and (width:712px) and (height:1138px) and (orientation:portrait) {
    #protection_home .needs-home-avatar img {
        height: 60vh;
    }
    .needs-grey-bg-mobile {
        padding: 30px 190px !important;
        height: 125px;
        position: relative;
        top: -2%;
        z-index: 0 !important;
    }
}

/* target large screen */
@media only screen and (width: 688px) and (height:1031px) and (orientation:portrait) {
    .protection-existing-policy-asset {
        left: 0px;
        bottom: 0%;
        width: 28vh;
    }
    .needs-home-avatar img {
        height: 43vh;
    }
}
@media only screen and (width:820px) and (orientation:portrait) {
    .needs-home {
        grid-template-rows: 19vh 71vh 13vh
    }
}
@media only screen and (min-height:768px) and (max-height:780px) and (orientation:landscape) {
    .coverage-avatar img.self-avatar {
        width: 21vh;
    }
    .coverage-avatar img.spouse-avatar {
        width: 19vh;
    }
    .coverage-avatar img.kid{
        width: 21vh;
    }
    .coverage-avatar img.parent-avatar {
        width: 32vh;
    }
}


  /* old css */
  @keyframes slide-in-from-top {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .toast.slide-in-from-top {
    animation: slide-in-from-top 0.5s ease-in-out;
  }
   
  @keyframes slide-in-and-bounce {
    0% {
        transform: translateY(-100%);
    }
    60% {
        transform: translateY(5px); /* Slide down with bounce effect */
    }
    80% {
        transform: translateY(0); /* Bounce back slightly */
    }
    100% {
        transform: translateY(0); /* Resting position */
    }
}

.toast.slide-in-and-bounce {
    animation: slide-in-and-bounce 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Adjust cubic-bezier values for desired bounce effect */
}