img {
display:flex;   
}
.bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
/* Welcome Page */
#home {
  background-image: url(/images/welcome-page/welcome-page-avatar.jpeg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 250px;
}
.main-content {
  z-index: 1;
}

/* PDPA Disclosure Page */
.button-container {
  width: -webkit-fill-available;
  bottom:0; 
  max-width:100%;
}

/* Basic Details Page */
.overflow-height {
  max-height: 800px;
  overflow-x: hidden!important
}

/* Avatar Welcome Page */
#avatar_welcome {
  background-image: url(/images/avatar/Welcome.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 180px;
}
#avatar_welcome section.footer .male {
  bottom: 10%;
  left: 10%;
}
#avatar_welcome section.footer .female {
  bottom: 10%;
  right: 10%;
}

.bg-image-avatar {
background-size: contain;
background-repeat: no-repeat;
position: relative;
z-index: -1;
background-position: center right;
left: 30px;
top:10px;
}
.protection-home {
height: 60vh;
}
.protection-home img {
  max-height: 65vh;
  top: 60px;
}
.protection-home-avatar {
  background-size: contain;

}
.avatar-content 
{
  margin-top:14.75rem;
}

.male-avatar {
  left: 160px;
  bottom: 25px;
  transform: scale(0.7);

}
.female-avatar {
  right: 100px;
  bottom: 10px;
  transform: scale(0.7);
}

.male-avatar-character {
  left: 300px;
  bottom: 30px;
}
.parent-father {
  left: -45px;
  bottom: 30px;
}
.parent-mother {
  left: 160px;
  bottom: 30px;
}
.spouse{
  right: 160px;
  bottom: 30px;
}
.children-boy {
  bottom: 30px;
  right: 0;
}
.children-girl {
  right: 100px;
  bottom: 30px;

}
img.male-avatar , img.female-avatar {
  max-width: 100%;
  max-height: 100%;
}
.navbar-default {
    background-color: transparent; 
    border-color: transparent;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/* .main-logo {
    scale:0.8;
} */

main {
    position: relative;
    z-index: 1;
    height: 100%;

}
.nav-header {
  margin-top: 13.063rem;
}
.text-scroll {
    max-height: 67vh; /* Set the desired maximum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .timeline:before {
    content: '';
    position: absolute;
    left: 37px; /* Adjust the left position as needed */
    top: 5px;
    bottom: 5px;
    width: 1px;
    background: #ffffff;
  }

  .timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 73px; /* Adjust the left padding as needed */
  }
  .timeline-item:first-child {
    margin-top: 20px;
  }
  .timeline-item:first-child::before {
    display: none;
  }
  .timeline-item:last-child {
    margin-bottom: 0;
  }

  .timeline-item::after{
    content: '';
    position: absolute;
    left: 25px;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    transform: translateY(-50%);
  }


  /* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}

/* #custom-radio .form-check-input, #custom-radio2 .form-check-input {
  width:1.2em !important;
  height:1.2em !important;
} */

input#flexRadioDefault1,input#flexRadioDefault2 {
  margin-top:8px;
}

.form-check-input {
  transform: scale(1.2);
}

.bg-welcome {
  z-index: -1;
}

.p-basic-details {
  padding-left: 5.438rem;
  padding-right: 6.875rem;
}

.main-vh {
  height: 87vh;
}

.sticky-bottom {
  z-index:1019;
}

.fade-effect img {
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

.fade-effect:hover img {
  opacity: 1;
}

.color-box {
  width: 48px;
  height: 48px;
  /* display: inline-block; */
  border-radius: 5px;
}
.color-box-wrapper {
width: 421.5px;
height: 77.94px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--primary-red, #C21B17);
background: var(--primary-white, #FFF);
box-shadow: 3px 5px 12px 1px rgba(0, 0, 0, 0.15);
}

.avatar-text {
  text-decoration: none !important;
}

.btn-avatar {
  border:0;
}

.btn-skip {
  padding-left:2.813rem;
  padding-right:2.813rem;
}

.btn-exit {
  padding: 10px 14px;
  border: 1px solid #ffffff;
  border-radius:66px;
  color:#ffffff;
  gap:16px;
}

.btn-exit:hover {
  background-color:#ffffff;
  color:#C21B17;
}
.logout-svg {
  width:30px;
  height:25px;
}

.progress{
  width: 44px;
  height: 44px;
  line-height: 10px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  top:0.625rem;
}
.progress:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #A0A0A0;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius:44px;
  border-bottom-right-radius: 44px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: transparent;
  font-size: 24px;
  color: #d10b4f;
  line-height:150%;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}
.progress.color .progress-bar{
  border-color: #d10b4f;
}
.progress.color .progress-left .progress-bar{
  animation: loading-2 1.5s linear forwards 1.8s;
}

@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(144deg);
      transform: rotate(144deg);
  }
}
@keyframes loading-3{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }
}
@keyframes loading-4{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
  }
}
@keyframes loading-5{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(126deg);
      transform: rotate(126deg);
  }
}


@media only screen and (max-width: 768px){
  .nav-header {
    margin-top: 0;
    text-align: center;
  }

}
@media only screen and (min-width: 768px){
  .full-height {
    height: 100vh!important;
  }
}

